
*.log
*.pyc
*.log
*.pyc
/solid_server/FotSolid/backend/node_modules
/solid_server/FotSolid/Sensor2Gateway/node_modules
/solid_server/FotSolid/health-application/node_modules
/solid_server/FotSolid/fot-solid-dash/node_modules

/solid_server/FotSolid/backend/dist
/solid_server/FotSolid/Sensor2Gateway/dist
/solid_server/FotSolid/health-application/build
/solid_server/FotSolid/fot-solid-dash/build

/solid_server/FotSolid/fot-solid-dash/.pnp
/solid_server/FotSolid/health-application/.pnp

/solid_server/docker-compose-solid-v2-local_comments.yml

.pnp.js

# testing
/solid_server/FotSolid/fot-solid-dash/coverage
/solid_server/FotSolid/health-application/coverage

acesso_server
msg

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

